@charset "UTF-8";

/*************************************
micro clearfix
**************************************/


/*http://kojika17.com/2013/06/clearfix-2013.html*/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/**************************************
base
***************************************/

body {
    font-size: 13px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 10px;
}

h3 {
    font-size: 14px;
    font-weight: normal;
}

th,
td {
    margin: 0;
    padding: 0;
}


/**************************************
layout
***************************************/

.wrapper {
    /*margin: 0 auto;
width: 100%;
*/
}

.media_side {
    float: left;
    width: 160px;
    display: block;
    overflow: hidden;
    /*background-color: blue;*/
}

.main_content {
    /*float: right;*/
    padding: 25px;
    border-left-style: solid;
    border-left-color: #A7D7F9;
    border-left-width: 1px;
    /*overflow: hidden;
	clear: both;*/
    /*float: right;*/
    /*float: left;*/
    overflow: hidden;
    /*background-color: gray;*/
}


/**************************************
media_side
***************************************/

.service-logo {
    padding: 10px;
}

.media_side ul {
    padding-left: 10px;
}

.side_first {
    border-bottom: solid 1px #aaa;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.side_second {
    border-bottom: solid 1px #aaa;
    margin-bottom: 10px;
    padding-bottom: 10px;
}


/**************************************
content_header
***************************************/

.content_header {
    /*width: 100%;*/
    /*display: block;*/
    background-color: yellow;
    /*float: right;*/
    overflow: hidden;
}

.main-login {
    float: right;
    /*display: block;*/
    /*width: 100%;*/
    margin: 10px;
    background-color: #aaa;
}

.main-login ul {
    float: right;
}

.main-login ul li {
    float: left;
    margin-left: 10px;
}

.content-tab {
    /*float: left;*/
    /*overflow: hidden;*/
    /*clear: both;*/
    /*background-color: blue;*/
    margin-top: 3em;
    /*float: left;*/
    /*display: block;*/
    /*width: 100%;*/
    /*display: inline-block;*/
    /*width: 100%;*/
    border-style: solid;
    border-color: #A7D7F9;
    border-width: 0px 0px 1px 0px;
}

.content-tab-left {
    float: left;
}

.content-tab-left ul li {
    padding: 5px;
    border-style: solid;
    border-color: #A7D7F9;
    border-width: 0px 1px 0px 0px;
    display: inline;
}

.content-tab-left ul li:first-child {
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-bottom-width: 1px;
}

.content-tab-search {
    float: right;
    border: solid 1px #aaa;
    margin-left: 10px;
    padding: 1px;
}

.content-tab-search form .search-box {
    width: 180px;
    /*border: solid 1px #aaa;*/
}

.content-tab-right {
    float: right;
    /*background-color: black;*/
}

.content-tab-right ul li {
    float: left;
    padding: 5px;
    border-style: solid;
    border-color: #A7D7F9;
    border-width: 0px 1px 0px 0px;
}

.content-tab-right ul li:first-child {
    border-style: solid;
    border-color: #A7D7F9;
    border-width: 0px 1px 0px 1px;
}

/**************************************
main_content
***************************************/

.main_content article {
    /*clear: both;*/
    /*overflow: hidden;*/
}

.key-content-right {
    float: right;
    width: 300px;
    overflow: hidden;
    border: solid 1px #aaa;
    background-color: #F9F9F9;
    padding: 5px;
}

.key-content-right th {
    width: 100px;
}

.key-content-right th {
    text-align: left;
    padding: 5px 5px 10px 5px;
}

.content-right-title th span {
    margin: 5px;
    float: right;
}

.content-right-title td {
    text-align: center;
}

.page_title {
    border-bottom: solid 1px #aaa;
    margin-bottom: 20px;
    padding-top: 20px;
}

.content_text {}

.content_tableofcontent {
    float: left;
    border: solid 1px #aaa;
    background-color: #F9F9F9;
    padding: 15px;
    margin-top: 20px;
}

.content_tableofcontent h4 {
    font-weight: bold;
    text-align: center;
}

.content_tableofcontent ul {
    margin-bottom: 10px;
}

.tableofcontent_second,
.tableofcontent_third {
    margin-left: 30px;
}


/**************************************
sec_history
***************************************/

.sec_history {
    clear: both;
}
.history_title {
	    border-bottom: solid 1px #000;
}

.sec_history span {
	font-weight: normal;
	font-size: 14px;
	margin-left: 10px;
}

/*
main_side
*/


/*.tableofcontent_third {
	margin-left: 30px;
}*/
